# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=YOUR_API_KEY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=YOUR_AUTH_DOMAIN
EXPO_PUBLIC_FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=YOUR_STORAGE_BUCKET
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
EXPO_PUBLIC_FIREBASE_APP_ID=YOUR_APP_ID

# Twilio Configuration
EXPO_PUBLIC_TWILIO_ACCOUNT_SID=YOUR_ACCOUNT_SID
EXPO_PUBLIC_TWILIO_AUTH_TOKEN=YOUR_AUTH_TOKEN
EXPO_PUBLIC_TWILIO_PHONE_NUMBER=YOUR_TWILIO_PHONE_NUMBER
EXPO_PUBLIC_TWILIO_WHATSAPP_NUMBER=YOUR_TWILIO_WHATSAPP_NUMBER